.navbar-inverse {
  background-color: royalblue;
  border-color: #9d9d9d;
}
.navbar-inverse .navbar-brand {
  color: whitesmoke;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #9d9d9d;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color:  whitesmoke;
}
.navbar-inverse .navbar-nav > li > a {
  color: whitesmoke;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #9d9d9d;
  background-color: transparent;
}